body {
  background-color: #ffffff;
  color: #000000;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  margin: 0 auto;
  min-width: 1200px;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.visually-hidden {
  clip: rect(0 0 0 0);

  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}
.inner {
  -webkit-box-sizing: border-box;
    box-sizing: border-box;

  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 960px;
}

/*заголовки*/
.header-title {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
}
.section-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;

  margin-left: 22px;

}
.title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.heading {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.text {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.poduct-name {
  font-size: 18px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;

  margin-bottom: 0px;
}

/*кнопки*/
.link {
  font-size: 17px;
  line-height: 17px;

  display: flex;
  align-items: center;

  height: 100%;
}

.link:hover,
.link:focus {
  background: #212a3a;
}
.link-user-navigation:hover .icon {
  opacity: 1;
}
.link:active {
  background: #212a3a;
  opacity: 0.7;
}
.link-user-navigation:active .icon {
  opacity: 0.7;
}

.site-link {
  width: 125px;
  box-sizing: border-box;
  padding-left: 25px;
}

.button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border-radius: 3px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 39px;
  padding-right: 39px;
}
.pagination-button {
  box-sizing: border-box;
  color: #000000;
  border: 2px solid #e5e5e5;
  border-radius: 3px;

  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
.pagination-next {
  padding-left: 32px;
  padding-right: 32px;
}
.pagination-button:hover,
.pagination-button:focus {
  border-color: #bdc6ca;
}
.pagination-button:active {
  border-color: #ee3643;
}

.pagination-active {
  position: relative;
  color: white;
  background: #ee3643;
  border-color: #ee3643;
}
.button-filter {
  color: #000000;
  border: 2px solid #e5e5e5;
  border-radius: 3px;

  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 39px;
  padding-right: 39px;
}
.card-product .actions .buy,
.card-product .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border-radius:3px;
  background-color: #63a63e;
  cursor: pointer;
}

.card-product .logo-cards {
  opacity: 0.6;

  padding-right: 20px;
}
.card-product .buy {
  box-shadow: 0px 2px 0 0 #367315;
  border: none;
}
.card-product .buy:hover,
.card-product .buy:focus {
  background: #5fbb2d;
}
.card-product .buy:hover .logo-cards,
.card-product .buy:focus .logo-cards {
  opacity: 1;
}
.card-product .buy:active {
 background: #518534;
}

.card-product .bookmark {
  border: 3px solid #63a63e;
}
.card-product .bookmark:hover,
.card-product .bookmark:focus {
  border: 3px solid #32425c;
}
.card-product .bookmark:active {
  opacity: 0.6;
}

.card-product .actions .bookmark {
  color: #32425c;
  background: white;
}
.card-product .actions {
  display: none;
}


.card-product:hover .actions,
.card-product:focus .actions {
  display: block;
}
.card-product:hover,
.card-product:focus {
box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.card-product .actions {
  display: none;
}
.price-product {
  font-size: 17px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: #a9a9a9;
}


.old-price {
  text-decoration: line-through;
   min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.button-category {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
}

/* header */

/*header-top*/
.header-top {
  background: #293449;
  color: #ffffff;

  height: 42px;
  margin-top: 0;
  box-sizing: border-box;
}
.header-top-page {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}
.link-logo {
  background: #ee3643;
  box-shadow: 0px 5px 0 0 #b52933;

  padding-top: 13px;
  padding-bottom: 3px;
  padding-right: 55px;
  padding-left: 55px;
}
.link-logo:hover,
.link-logo:focus {
  background: #ca2c37;
  box-shadow: 0px 5px 0 0 #9a212a;
}
.link-logo:active {
  background: #ba2732;
  box-shadow: 0px 5px 0 0 #8e1e26;
}
.header-form-search {
  width: 260px;
  height: 100%;
  display: flex;
}
.input-search {
  padding-left: 7px;
  padding-right: 93px;
  padding-top: 10px;
  padding-bottom: 10px;

  background: #293449;
  border: none;
}
.input-search::placeholder {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}
.button-search {
  background: transparent;
  border: none;
}
.input-search + .button-search {
  order: -1;
  padding-left: 18px;
 }
 .icon-search {
  opacity: 0.4;
}
 .input-search:hover + .button-search {
  background: #212a3a;
 }
 .input-search:hover  {
  background: #212a3a;
 }
 .input-search:hover + .button-search .icon-search {
  opacity: 1;
}
.input-search:focus + .button-search {
 background: #ffffff;
}
.input-search:focus  {
 background: #ffffff;
 color: #000000;
}
.input-search:focus + .button-search .icon-search path {
  fill: #ee3643;
  opacity: 1;
}


.user-navigation {
  box-sizing: border-box;
  list-style: none;

  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0px;

}
.user-navigation-item {
  height: 42px;
  box-sizing: border-box;
}
.link-user-navigation {
  width: 140px;

  padding-left: 15px;
}
.link-user-navigation:hover .icon {
  opacity: 1;
}
.issue-order {
  background: #63a63e;
  padding-left: 21px;
  padding-right: 21px;
}
.issue-order:hover,
.issue-order:focus {
  background: #5fbb2d;
}
.issue-order:active {
  opacity: 0.6;
}
/*heder-middle*/
.header-bottom {
  background: #f2f6f8;

  padding-bottom: 65px;
}
.header-section {
  display: flex;
  justify-content: space-between;

  padding-top: 32px;
  padding-bottom: 2px;
}
.header-info {
  width: 200px;
  padding-left: 53px;
}
.icon {
  opacity: 0.4;
  padding-right: 13px;
}

.header-contact {
  padding-top: 16px;
  padding-left: 46px;
}
.phone {
  border: 3px solid #ffffff;

  padding-right: 50px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.number {
  box-sizing: border-box;
  padding-left: 40px;

  color: #ee3643;
}
.heder-adres {
  font-size: 13px;
  color: #32425c;

  padding-left: 10px;
}
.authorization {
  list-style: none;

  display: flex;
}
.authorization-item {
  background: #ffffff;
  color: #000000;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 25px;
  margin-right: 10px;
}
.user-menu-list {
  list-style: none;
  display: flex;
}
.link-user-menu {
  font-size: 16px;
}
.header-authorization:hover,
.header-authorization:focus {
  color: #ee3643;
}
.user-menu:hover .icon,
.user-menu:focus .icon {
  opacity: 1;
}
.header-authorization:active {
  color: #000000;
  opacity: 0.4;
}

.header-authorization-link:active {
  color: #000000;
  opacity: 0.4;
}
.logo-entrance {
  padding-right: 15px;
}

.user-menu-bottom {
  padding-left: 10px;
}
.user-menu-bottom:first-child::after{
  content: '\2022';
  padding-left: 15px;
  padding-right: 5px;
}
.link-user-menu {
  color: #32425c;
  text-decoration: underline;
}
.link-user-menu:hover,
.link-user-menu:focus {
  color: #ee3643;
}
.link-user-menu:active {
  color: #32425c;
  opacity: 0.4;
}

/*header-bottom*/
.site-navigation {
  box-sizing: border-box;
  background: #32425c;
  box-shadow: inset 0px -5px 0 0  rgba(0, 0, 0, 0.1);

  list-style: none;
  display: flex;
  justify-content: space-between;

  padding-left: 0;
  margin: 0;
  margin-top: 30px;
}
.site-navigation-link {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 60px;
}

/*услуги*/
.category {
  display: flex;
}
.category-product {
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;

  position: relative;
}
.icon-product {
  position: absolute;
  top: 33px;
  right: 43px;
}
.text-category {
  display: flex;
  flex-wrap: wrap;
}
.materials {
 background: #ffbf47;
}
.tool {
  background: #3bbce3;
}
.technics {
  background: #dc91d8;
}
.discounts {
  background: #8ed78f;
}
.delivery {
  background: #ffc047;
}

.slider-list {
  list-style: none;
  color: #ffffff;

  padding: 0;
  margin: 0;
  position: relative;
}
.slide-item-2 {
  display: none;
}
.button-slide {
  background: #ee3643;

}
.signature-header {
  position: absolute;
}

.services-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 59px;
}
/*товары*/
.popular {
  display: flex;
  justify-content: space-between;
  list-style: none;

  padding-left: 0;
}
.popular-goods-header {
  display: flex;
  justify-content: space-between;

  background: #f9f5f0;

  min-height: 89px;
  margin-bottom: 21px;
  margin-top: 21px;
  padding-left: 25px;
}
.button-goods {
  background: #ee3643;
  box-sizing: border-box;

  padding: 10px 56px 10px 56px;
  margin-top: 26px;
  margin-bottom: 26px;
  margin-right: 25px;
}
.button-goods-map {
  padding: 10px 45px 10px 45px;
}
.card-product {
  height: 318px;
  width: 220px;

  margin-bottom: 20px;
  border: 1px solid #ccc;

  position: relative;
}
.card-product .poduct-name {
  padding: 0 25px;
  margin-top: 19px;
  margin-bottom: 15px;
}


.card-product .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.card-product .flag-new {
  background: url('../img/new-flag-1.png') no-repeat 0 0;
}

.card-product-info {
  text-align: center;
}
.card-product .price-current {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}
.card-product .price-current:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.card-product .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.product-picture {
  height: 158px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product-name {
  margin-top: 21px;
  margin-bottom: 0;
}
.popular-goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;

  padding: 0;
}
.popular-goods-item {
  display: flex;

}
.popular-goods-link {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;

  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}
.popular-goods-link:hover,
.popular-goods-link:focus {
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.popular-goods-link:active {
  box-shadow: 0 3px 7px rgba(0,0,0,0.5);
  opacity: 0.6;
}
/*сервис*/

.services {
  background: #f4f8f9;

  display: block;
}
.slide-services {
  display: flex;
  justify-content: space-between;
}
.slide-key {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  list-style: none;

  background: #32425c;

  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 24px;
  width: 240px;

  box-shadow:
    inset 0px -1px 0 0  rgba(0, 0, 0, 0.1);
}
.slide {
  list-style: none;
}
.slide-info {
  width: 282px;
  margin: 0;
  position: absolute;
}
.slide-2, .slide-3 {
  display: none;
}

/*о нас */
.about-us {
  display: flex;
  justify-content: space-between;

  margin-bottom: 86px;

}
.item-info {
  list-style: none;

  font-size: 18px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;

  padding-top: 20px;
}
.item-info::before {
  color: #fb565a;
  content: '\2014';

  padding-right: 22px;
}
.company-details-text {
  font-family: 'PT Sans', sans-serif;
}
.company-details {
  width: 520px;
}
.contacts-map {
  width: 300px;
}
/*footer*/

/**/
.footer-top {
  background: #32425c;

  padding-bottom: 28px;
}
.footer-top-basement {
  display: flex;
  justify-content: space-between;
}
.link-logo-footer {
  padding-top: 30px;
  padding-bottom: 19px;
  padding-left: 41px;
  padding-right: 42px;
}
.logo {
  padding-top: 20px;
}
.copyright {
  width: 590px;
}
.footer-nav-top {
  display: flex;
  justify-content: space-between;

  list-style: none;

  padding-top: 24px;
}
.footer-nav-bottom {
  display: flex;
  justify-content: space-between;

  list-style: none;

  padding-top: 24px;
  padding-left: 63px;
}
.footer-text {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}
.footer-text:hover,
.footer-text:focus {
  text-decoration: underline;
}
.footer-text:active {
  text-decoration: none;
  opacity: 0.4;
}
.adres-footer {
  margin-top: 48px;
  margin-bottom: 0px;
}
.tel-footer {
  margin-top: 0;
}
.footer-bottom {
  background: #293449;

  padding-top: 10px;
}
.footer-bottom-basement {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer-info {
  list-style: none;
  padding: 0;

  margin-right: 26px;
}
.social {
  list-style: none;

  display: flex;
  justify-content: space-between;
}

/*страница каталога*/
.bread-crumbs {
  list-style: none;
  display: flex;

  margin-top: 20px;
  margin-bottom: 20px;
}
.name-bread-crumbs {
  color: #000000;
  text-transform: uppercase;

  padding-right: 18px;
}
.bread-crumbs-item::after {
  content: '\003E';
  opacity: 0.3;

  padding-right: 18px;
}
/**/

.catalog {
  display: flex;
  justify-content: space-between;
}
.filter {
  margin-top: 13px;

  width: 220px;
}
.filter-item {
  border: none;

  padding-left: 0;
  margin-top: 15px;
}
.section-name {
  background: #f2f6f8;

  padding-left: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
}
/*цена*/
.filter-item-rang {
  border: none;
  padding-left: 0;
}
.range-filter {
  width: 220px;
}
.range-control {
  background-color: #f7f3ec;
  border-radius: 2px;

  position: relative;

  height: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}
.scale {
  background: #d7dcde;

  height: 2px;
}
.bar {
  background: #00ca74;

  height: 2px;
  margin-left: 0px;
  width: 80%;
}
.toggle {
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
        box-shadow: 0 2px 1px 0 #cfcfcf;

  box-sizing: content-box;
  position: absolute;
  cursor: pointer;
  height: 4px;
  left: 0;
  padding: 0;
  top: 31px;
  width: 4px;
}
.toggle-min {
  left: 20px;
}
.toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
}
.price  {
  font-size: 17px;
  text-transform: uppercase;
}
.price-min::after {
  content: '\2014';

  padding-left: 5px;
  padding-right: 5px;
}
.from-to {
  background: #f7f3ec;
  border: none;
  border-radius: 5px;

  color: #283136;
  text-align: center;

  padding: 8px 10px;
  width: 75px;
}
/*сортировка*/
.sort {
  display: flex;
  justify-content: space-between;
}
.radio-button-group {
  list-style: none;

  margin: 0;
  padding: 0;
}
.filter-option {
  padding-bottom: 15px;
}
.filter-option .filter-label {
  cursor: pointer;
  display: block;
  position: relative;
  user-select: none;
}
.filter-label {
  padding-bottom: 5px;
  padding-left: 40px;
}
.filter-input-radio + .filter-label-radio::before {
  border: 4px solid #c5c5c5;
  border-radius: 50%;

  color: #c5c5c5;
  content: "";

  position: absolute;
  height: 18px;
  left: 0px;
  top: 0px;
  width: 18px;
}
.filter-input-radio:checked + .filter-label-radio::after {
  background-color: #c5c5c5;
  border-radius: 50%;

  content: "";

  position: absolute;
  height: 10px;
  left: 8px;
  top: 8px;
  width: 10px;
}
.filter-label-radio {
  color: #000000;

  padding-bottom: 0;
  padding-top: 5px;
}
.filter-input-radio:hover + .filter-label-radio::before,
.filter-input-radio:focus + .filter-label-radio::before{
  border-color: #b5b5b5;

  -webkit-transition: border-color 0.25s;
  -o-transition: border-color 0.25s;
      transition: border-color 0.25s;
}
.filter-input-radio:checked:hover + .filter-label-radio::after,
.filter-input-radio:checked:focus + .filter-label-radio::after {
  background-color: #b5b5b5;

  -webkit-transition: background 0.25s;
  -o-transition: background 0.25s;
      transition: background 0.25s;
  -o-transition: color 0.25s;
      transition: color 0.25s;
}
.filter-label-radio:hover,
.filter-label-radio:focus {
  color: #000000;

  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
    transition: color 0.25s;
}
.filter-input-radio:disabled + .filter-label-radio::before {
  border-color: #ededed;
}
.filter-input-radio:checked:disabled + .filter-label-radio::after {
  background-color: #ededed;
}
.filter-label-radio:disabled {
  color: #b8b8b8;

  -webkit-transition: border-color 0.25s;
  -o-transition: border-color 0.25s;
      transition: border-color 0.25s;
}
.filter-input-radio:checked:hover + .filter-label-radio::after,
.filter-input-radio:checked:focus + .filter-label-radio::after {
  background-color: #b5b5b5;

  -webkit-transition: background 0.25s;
  -o-transition: background 0.25s;
      transition: background 0.25s;
  -o-transition: color 0.25s;
      transition: color 0.25s;
}
.filter-label-radio:hover,
.filter-label-radio:focus {
  color: #283136;

  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
    transition: color 0.25s;
}
.filter-input-radio:disabled + .filter-label-radio::before {
  border-color: #ededed;
}
.filter-input-radio:checked:disabled + .filter-label-radio::after {
  background-color: #ededed;
}
.filter-label-radio:disabled {
  color: #ededed;
}


.filter-input-checkbox + .filter-label-checkbox::before {
  background: url(../img/checkbox-off-filt.svg) no-repeat;
  opacity: 0.4;

  content: "";

  position: absolute;
  height: 23px;
  left: 0px;
  width: 23px;
}
.filter-input-checkbox:checked + .filter-label-checkbox::after {
  background: url(../img/checkbox-on.svg) no-repeat;
  opacity: 0.4;

  content: "";

  position: absolute;
  height: 23px;
  left: 0px;
  width: 27px;
}
.filter-input-checkbox:checked + .filter-label-checkbox::before {
  display: none;
}
.filter-label-checkbox {
  color: #000000;
}
.filter-input-checkbox:hover + .filter-label-checkbox::before,
.filter-input-checkbox:focus + .filter-label-checkbox::before {
  opacity: 0.7;

  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
      transition: opacity 0.25s;;
}
.filter-input-checkbox:hover + .filter-label-checkbox::after,
.filter-input-checkbox:focus + .filter-label-checkbox::after {
  opacity: 0.7;

  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
      transition: opacity 0.25s;;
}
.filter-label-checkbox:hover,
.filter-label-checkbox:focus {
  color: #000000;

  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
      transition: color 0.25s;
}
.filter-input-checkbox:disabled + .filter-label-checkbox::before {
  opacity: 0.2;
}
.filter-label-checkbox:disabled {
  color: #b8b8b8;
}



.criteria {
  display: flex;
  padding-top: 8px;
}
.filter-top {
  background: #f7f3ec;

  margin-bottom: 22px;
}
/**/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-pages {
  margin-top: 52px;
  margin-bottom: 60px;
}
.criteria-sort {
  width: 400px;
  margin-left: 122px;
}
.sort-item {
  padding-right: 50px;
}
.filtr-title {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  margin: 0;
}
.sorting-filtr {
  color: #d3cfc9;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px dashed #ee3643;

  margin-left: 10px;
}
.sorting-filtr-active {
  color: #ee3643;
  border: none;
}
.sorting-filtr:hover,
.sorting-filtr:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}
.sorting-filtr:active {
  color: #ee3643;
  border: none;
}

.filter-name {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}
.filter-label {
  font-size: 15px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

.services {
  padding-top: 64px;
  padding-bottom: 64px;
}


.sort-icon-up {
  margin-right: 19px;
}
.icon-up {
  opacity: 0.5;
}
.icon-up-active {

}
.icon-up:hover,
.icon-up:focus {
  opacity: 1;
}
.icon-up:active {
  fill: #ee3643;
}
/**/
.sorting-goods {
  margin-left: 20px;
  margin-top: 13px;
}



/*footer*/

/*соцсети*/
.social-item {
  margin-right: 5px;
  margin-top: 14px;
}
.social-link {
  border-radius: 50%;

  background: #212a3a;

  height: 40px;
  width: 40px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
}
.social-link:hover,
.social-link:focus {
  background: #ee3643;
}
.social-link:active {
  opacity: 0.9;
}
.feedback-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;

  margin: 0;
}
.feedback-link{
  color: #ffd180;
}
.feedback-link:hover,
.feedback-link:focus {
  text-decoration: underline;;
}
.feedback-link:active {
  text-decoration: none;
  color: #ffd180;
}
