body {
  background-color: #ffffff;
  color: #000000;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  margin: 0 auto;
  min-width: 1200px;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.visually-hidden {
  clip: rect(0 0 0 0);

  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}
.inner {
  -webkit-box-sizing: border-box;
    box-sizing: border-box;

  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 960px;
}

/*заголовки*/
.header-title {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
}
.section-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}
.title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.heading {
  font-size: 36px;
  line-height: 36px;

}
.text {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.poduct-name {
  font-size: 18px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

/*кнопки*/
.link {
  font-size: 17px;
  line-height: 17px;
}

.button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border-radius: 3px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 39px;
  padding-right: 39px;
}
.pagination-button {
  color: #000000;
  border: 2px solid #e5e5e5;
  border-radius: 3px;

  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
.pagination-next {
  padding-left: 32px;
  padding-right: 32px;
}
.button-filter {
  color: #000000;
  border: 2px solid #e5e5e5;
  border-radius: 3px;

  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 39px;
  padding-right: 39px;
}
.button-buy {
  border: none;

  background: #63a63e;
  box-shadow: inset 0px -3px 0 0  rgba(0, 0, 0, 0.1);

  padding-left: 21px;
  padding-right: 45px;
}
.button-bookmarks {
  position: relative;

  color: #000000;

  border: none;

  padding-left: 36px;
  padding-right: 36px;
}
.button-bookmarks::before {
  content: "";
  border: 3px solid #63a63e;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.price-product {
  font-size: 17px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: #a9a9a9;
}
.price-current {
  background: #ee3643;
  width: 141px;
  height: 38px;
  color: #ffffff;

}
.button-category {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
}

/* header */

/*header-top*/
.header-top {
  background: #293449;
  color: #ffffff;

  height: 42px;
  margin-top: 0;
  box-sizing: border-box;
}
.header-top-page {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}
.link-logo {
  background: #ee3643;
  box-shadow: 0px 5px 0 0 #b52933;

  padding-top: 13px;
  padding-bottom: 3px;
  padding-right: 55px;
  padding-left: 55px;
}
.header-form-search {
  width: 260px;

  display: flex;
}
.input-search {
  padding-left: 7px;
  padding-right: 75px;
  padding-top: 10px;
  padding-bottom: 10px;

  background: #293449;
  border: none;
}
.input-search::placeholder {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}
.button-search {
  background: transparent;
  border: none;
}
.input-search + .button-search {
  order: -1;
  padding-left: 18px;
 }

.user-navigation {
  list-style: none;

  display: flex;
  justify-content: space-between;
}
.user-navigation-item {
  width: 150px;
}
.issue-order {
  background: #63a63e;
  padding-bottom: 13px;
  padding-top: 13px;
  padding-left: 21px;
  padding-right: 21px;
}

/*heder-middle*/
.header-bottom {
  background: #f2f6f8;

  padding-bottom: 45px;
}
.header-section {
  display: flex;
  justify-content: space-between;

  padding-top: 38px;
  padding-bottom: 14px;
}
.header-info {
  width: 200px;
  padding-left: 53px;
}
.icon {
  opacity: 0.4;
  padding-right: 13px;
}
.icon-search {
  opacity: 0.4;
}
.header-contact {
  padding-top: 16px;
  padding-left: 46px;
}
.phone {
  border: 3px solid #ffffff;

  padding-right: 50px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.number {
  box-sizing: border-box;
  padding-left: 40px;

  color: #ee3643;
}
.heder-adres {
  font-size: 13px;
  color: #32425c;

  padding-left: 10px;
}
.authorization {
  list-style: none;

  display: flex;
}
.authorization-item {
  padding-top: 8px;
}
.user-menu-list {
  list-style: none;
  display: flex;
}
.link-user-menu {
  font-size: 16px;
}
.header-authorization {
  background: #ffffff;
  color: #000000;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 25px;
  margin-right: 10px;
}
.header-authorization-link {
  color: #000000;
}
.logo-entrance {
  padding-right: 15px;
}

.link-user-menu {
  color: #32425c;
  text-decoration: underline;

}
.user-menu-bottom {
  padding-left: 10px;
}

/*header-bottom*/
.site-navigation {
  background: #32425c;
  box-shadow: inset 0px -5px 0 0  rgba(0, 0, 0, 0.1);

  list-style: none;
  display: flex;
  justify-content: space-between;

  padding-left: 0;
  margin-left: 0;
}
.site-navigation-link {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-left: 35px;
  padding-right: 35px;
  height: 60px;
}

/*услуги*/
.category {
  display: flex;
}
.category-product {
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
}
.materials {
 background: #ffbf47;
}
.tool {
  background: #3bbce3;
}
.technics {
  background: #dc91d8;
}
.discounts {
  background: #8ed78f;
}
.delivery {
  background: #ffc047;
}

.slider-list {
  list-style: none;
  color: #ffffff;

  padding: 0;
  margin: 0;
  position: relative;
}
.slide-item-2 {
  display: none;
}
.button-slide {
  background: #ee3643;

}
.signature-header {
  position: absolute;
}

.services-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 59px;
}
/*товары*/
.popular {
  display: flex;
  justify-content: space-between;
  list-style: none;

  padding-left: 0;
}
.popular-goods-header {
  display: flex;
  justify-content: space-between;

  background: #f9f5f0;

  min-height: 89px;
  margin-bottom: 21px;
  margin-top: 21px;
}
.button-goods {
  background: #ee3643;
  padding: 10px 40px 10px 40px;
  margin-top: 39px;
}
.button-goods-map {
  padding: 10px 60px 10px 60px;
}
.card-product {
  height: 318px;
  width: 220px;

  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}
.card-product-buy {
  display: none;
}
.product-picture {
  height: 158px;

}
.popular-goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;

  padding: 0;
}
.popular-goods-item {
  display: flex;

}
.popular-goods-link {


  border: 1px solid #eaeaea;

  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}

/*сервис*/

.services {
  background: #f4f8f9;

  display: block;
}
.slide-services {
  display: flex;
  justify-content: space-between;
}
.slide-key {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  list-style: none;

  background: #32425c;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 240px;

  box-shadow:
    inset 0px -1px 0 0  rgba(0, 0, 0, 0.1);
}
.slide {
  list-style: none;
}
.slide-2, .slide-3 {
  display: none;
}

/*о нас */
.about-us {
  display: flex;
  justify-content: space-between;

  margin-bottom: 86px;

}
.item-info {
  list-style: none;

  font-size: 18px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;

  padding-top: 20px;
}
.item-info::before {
  color: #fb565a;
  content: '\2014';

  padding-right: 22px;
}
.company-details-text {
  font-family: 'PT Sans', sans-serif;
}
.company-details {
  width: 520px;
}
.contacts-map {
  width: 300px;
}
/*footer*/

/**/
.footer-top {
  background: #32425c;

  padding-bottom: 28px;
}
.footer-top-basement {
  display: flex;
  justify-content: space-between;
}
.link-logo-footer {
  padding-top: 30px;
  padding-bottom: 19px;
  padding-left: 41px;
  padding-right: 42px;
}
.logo {
  padding-top: 20px;
}
.copyright {
  width: 590px;
}
.footer-nav-top {
  display: flex;
  justify-content: space-between;

  list-style: none;

  padding-top: 24px;
}
.footer-nav-bottom {
  display: flex;
  justify-content: space-between;

  list-style: none;

  padding-top: 24px;
  padding-left: 63px;
}
.footer-text {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}
.adres-footer {
  margin-top: 48px;
  margin-bottom: 0px;
}
.tel-footer {
  margin-top: 0;
}
.footer-bottom {
  background: #293449;

  padding-top: 10px;
}
.footer-bottom-basement {
  display: flex;
  justify-content: space-between;
}
.footer-info {
  list-style: none;
  padding: 0;

}
.social {
  list-style: none;

  display: flex;
  justify-content: space-between;
}

/*страница каталога*/
.bread-crumbs {
  list-style: none;
  display: flex;

  margin-top: 20px;
  margin-bottom: 20px;
}
.name-bread-crumbs {
  color: #000000;
  text-transform: uppercase;

  padding-right: 18px;
}
.bread-crumbs-item::after {
  content: '\003E';
  opacity: 0.3;

  padding-right: 18px;
}
/**/

.catalog {
  display: flex;
  justify-content: space-between;
}
.filter {
  margin-top: 13px;

  width: 220px;
}
.filter-item {
  border: none;

  padding-left: 0;
  margin-top: 15px;
}
.section-name {
  background: #f2f6f8;

  padding-left: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
}
/*цена*/
.filter-item-rang {
  border: none;
  padding-left: 0;
}
.range-filter {
  margin-top: 19px;
  width: 220px;
}
.range-control {
  background-color: #f7f3ec;
  border-radius: 2px;

  position: relative;

  height: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}
.scale {
  background: #d7dcde;

  height: 2px;
}
.bar {
  background: #00ca74;

  height: 2px;
  margin-left: 0px;
  width: 80%;
}
.toggle {
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
        box-shadow: 0 2px 1px 0 #cfcfcf;

  box-sizing: content-box;
  position: absolute;
  cursor: pointer;
  height: 4px;
  left: 0;
  padding: 0;
  top: 31px;
  width: 4px;
}
.toggle-min {
  left: 20px;
}
.toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
}
.price  {
  font-size: 17px;
  text-transform: uppercase;
}
.price-min::after {
  content: '\2014';

  padding-left: 5px;
  padding-right: 5px;
}
.from-to {
  background: #f7f3ec;
  border: none;
  border-radius: 5px;

  color: #283136;
  text-align: center;

  padding: 8px 10px;
  width: 75px;
}
/*сортировка*/
.sort {
  display: flex;
  justify-content: space-between;
}
.radio-button-group {
  list-style: none;

  margin: 0;
  padding: 0;
}
.filter-option {
  padding-bottom: 15px;
}
.filter-option .filter-label {
  cursor: pointer;
  display: block;
  position: relative;
  user-select: none;
}
.filter-label {
  padding-bottom: 5px;
  padding-left: 40px;
}
.filter-input-radio + .filter-label-radio::before {
  border: 4px solid #c5c5c5;
  border-radius: 50%;

  color: #c5c5c5;
  content: "";

  position: absolute;
  height: 18px;
  left: 0px;
  top: 0px;
  width: 18px;
}
.filter-input-radio:checked + .filter-label-radio::after {
  background-color: #c5c5c5;
  border-radius: 50%;

  content: "";

  position: absolute;
  height: 10px;
  left: 8px;
  top: 8px;
  width: 10px;
}
.filter-label-radio {
  color: #000000;

  padding-bottom: 0;
  padding-top: 5px;
}
.filter-input-radio:hover + .filter-label-radio::before,
.filter-input-radio:focus + .filter-label-radio::before{
  border-color: #b5b5b5;

  -webkit-transition: border-color 0.25s;
  -o-transition: border-color 0.25s;
      transition: border-color 0.25s;
}
.filter-input-radio:checked:hover + .filter-label-radio::after,
.filter-input-radio:checked:focus + .filter-label-radio::after {
  background-color: #b5b5b5;

  -webkit-transition: background 0.25s;
  -o-transition: background 0.25s;
      transition: background 0.25s;
  -o-transition: color 0.25s;
      transition: color 0.25s;
}
.filter-label-radio:hover,
.filter-label-radio:focus {
  color: #000000;

  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
    transition: color 0.25s;
}
.filter-input-radio:disabled + .filter-label-radio::before {
  border-color: #ededed;
}
.filter-input-radio:checked:disabled + .filter-label-radio::after {
  background-color: #ededed;
}
.filter-label-radio:disabled {
  color: #b8b8b8;
};

  -webkit-transition: border-color 0.25s;
  -o-transition: border-color 0.25s;
      transition: border-color 0.25s;
}
.filter-input-radio:checked:hover + .filter-label-radio::after,
.filter-input-radio:checked:focus + .filter-label-radio::after {
  background-color: #b5b5b5;

  -webkit-transition: background 0.25s;
  -o-transition: background 0.25s;
      transition: background 0.25s;
  -o-transition: color 0.25s;
      transition: color 0.25s;
}
.filter-label-radio:hover,
.filter-label-radio:focus {
  color: #283136;

  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
    transition: color 0.25s;
}
.filter-input-radio:disabled + .filter-label-radio::before {
  border-color: #ededed;
}
.filter-input-radio:checked:disabled + .filter-label-radio::after {
  background-color: #ededed;
}
.filter-label-radio:disabled {
  color: #ededed;
}


.filter-input-checkbox + .filter-label-checkbox::before {
  background: url(../img/checkbox-off-filt.svg) no-repeat;
  opacity: 0.4;

  content: "";

  position: absolute;
  height: 23px;
  left: 0px;
  width: 23px;
}
.filter-input-checkbox:checked + .filter-label-checkbox::after {
  background: url(../img/checkbox-on.svg) no-repeat;
  opacity: 0.4;

  content: "";

  position: absolute;
  height: 23px;
  left: 0px;
  width: 27px;
}
.filter-input-checkbox:checked + .filter-label-checkbox::before {
  display: none;
}
.filter-label-checkbox {
  color: #000000;
}
.filter-input-checkbox:hover + .filter-label-checkbox::before,
.filter-input-checkbox:focus + .filter-label-checkbox::before {
  opacity: 0.7;

  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
      transition: opacity 0.25s;;
}
.filter-input-checkbox:hover + .filter-label-checkbox::after,
.filter-input-checkbox:focus + .filter-label-checkbox::after {
  opacity: 0.7;

  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
      transition: opacity 0.25s;;
}
.filter-label-checkbox:hover,
.filter-label-checkbox:focus {
  color: #000000;

  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
      transition: color 0.25s;
}
.filter-input-checkbox:disabled + .filter-label-checkbox::before {
  opacity: 0.2;
}
.filter-label-checkbox:disabled {
  color: #b8b8b8;
}



.criteria {
  display: flex;
  margin: 0;
  padding-top: 10px;
}
.filter-top {
  background: #f7f3ec;

  margin-bottom: 22px;
}
/**/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-pages {
  margin-top: 52px;
  margin-bottom: 60px;
}


.filtr-title {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;

  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 19px;
  margin: 0;
}
.sorting-filtr {
  color: #d3cfc9;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}
.filter-name {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}
.filter-label {
  font-size: 15px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

.services {
  padding-top: 64px;
  padding-bottom: 64px;
}

/**/
.sorting-goods {
  margin-left: 20px;
  margin-top: 13px;
}



/*footer*/

/*соцсети*/
.social-item {

  margin-right: 5px;
}
.social-link {
  border-radius: 50%;

  background: #212a3a;

  height: 40px;
  width: 40px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
}
.feedback-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;

  margin: 0;
}
.feedback-link{
  color: #ffd180;
}
