body {
  background-color: #ffffff;
  color: #000000;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  margin: 0 auto;
  min-width: 960px;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.visually-hidden {
  clip: rect(0 0 0 0);

  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}
.inner {
  -webkit-box-sizing: border-box;
    box-sizing: border-box;

  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 960px;
}
/*header*/

/*header-top*/
.header-top {
  background: #293449;
  color: #ffffff;

  height: 42px;
  margin-top: 0;
  box-sizing: border-box;
}
.header-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}
.link-logo {
  background: #ee3643;
  box-shadow: 0px 5px 0 0 #b52933;

  padding-top: 13px;
  padding-bottom: 3px;
  padding-right: 55px;
  padding-left: 55px;
}
.link-logo:hover,
.link-logo:focus {
  background: #ca2c37;
  box-shadow: 0px 5px 0 0 #9a212a;
}
.link-logo:active {
  background: #ba2732;
  box-shadow: 0px 5px 0 0 #8e1e26;
}
.header-form-search {
  width: 260px;
  height: 100%;
  display: flex;
}
.input-search {
  padding-left: 7px;
  padding-right: 93px;
  padding-top: 10px;
  padding-bottom: 10px;

  background: #293449;
  border: none;
}
.input-search::placeholder {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}
.button-search {
  background: transparent;
  border: none;
}
.input-search + .button-search {
  order: -1;
  padding-left: 18px;
 }
 .icon-search {
  opacity: 0.4;
}
 .input-search:hover + .button-search {
  background: #212a3a;
 }
 .input-search:hover  {
  background: #212a3a;
 }
 .input-search:hover + .button-search .icon-search {
  opacity: 1;
}
.input-search:focus + .button-search {
 background: #ffffff;
}
.input-search:focus  {
 background: #ffffff;
 color: #000000;
}
.input-search:focus + .button-search .icon-search path {
  fill: #ee3643;
  opacity: 1;
}
.user-navigation {
  box-sizing: border-box;
  list-style: none;

  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0px;

}
.user-navigation-item {
  height: 42px;
  box-sizing: border-box;
}
.user-navigation-item-active {
  background: #ee3643;
}
.link-user-navigation {
  width: 140px;

  padding-left: 15px;
}
.link-user-navigation:hover .icon {
  opacity: 1;
}
.link {
  font-size: 17px;
  line-height: 17px;

  display: flex;
  align-items: center;

  height: 100%;
}
.link:hover,
.link:focus {
  background: #212a3a;
}
.link-user-navigation:hover .icon {
  opacity: 1;
}
.link:active {
  background: #212a3a;
  opacity: 0.7;
}
.link-user-navigation:active .icon {
  opacity: 0.7;
}
.issue-order {
  background: #63a63e;
  padding-left: 21px;
  padding-right: 21px;
}
.issue-order:hover,
.issue-order:focus {
  background: #5fbb2d;
}
.issue-order:active {
  opacity: 0.6;
}
/*header-bottom*/
.header-title {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
}
.header-bottom {
  background: #f2f6f8;

  padding-bottom: 65px;
}
.header-section {
  display: flex;
  justify-content: space-between;

  padding-top: 32px;
  padding-bottom: 12px;
}
.header-info {
  width: 200px;
  padding-left: 53px;
}
.icon {
  opacity: 0.4;
  padding-right: 13px;
}
.header-contact {
  padding-top: 25px;
  padding-left: 63px;
}
.phone {
  border: 3px solid #ffffff;

  padding-right: 50px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}
.number {
  box-sizing: border-box;
  padding-left: 40px;

  color: #ee3643;
}
.heder-adres {
  font-size: 13px;
  color: #32425c;

  padding-left: 10px;
}
.authorization {
  list-style: none;
  display: flex;

  margin-top: 17px;
}
.header-authorization {
  background: #ffffff;
  color: #000000;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 25px;
  margin-right: 10px;
}
.header-authorization:hover,
.header-authorization:focus {
  color: #ee3643;
}
.header-authorization:hover .icon,
.header-authorization:focus .icon {
  opacity: 1;
}
.header-authorization:active .icon {
  opacity: 0.2;
}
.header-authorization:active {
  color: #000000;
  opacity: 0.4;
}


/*header-catalog*/
.user-menu-list {
  list-style: none;
  display: flex;

  margin-top: 14px;
  margin-bottom: 0;
}
.link-user-menu {
  font-size: 16px;
}
.icon-exit {
  opacity: 0.4;
  padding-left: 13px;
}
.header-authorization-link:active {
  color: #000000;
  opacity: 0.4;
}
 .icon-exit:hover,
 .icon-exit:focus {
  opacity: 1;
}
 .icon-exit:active {
  opacity: 0.3;
 }
 .logo-entrance {
  padding-right: 15px;
}
.user-menu-bottom {
  padding-left: 10px;
}
.user-menu-bottom:first-child::after{
  content: '\2022';
  padding-left: 15px;
  padding-right: 5px;
}
.link-user-menu {
  color: #32425c;
  text-decoration: underline;
}
.link-user-menu:hover,
.link-user-menu:focus {
  color: #ee3643;
}
.link-user-menu:active {
  color: #32425c;
  opacity: 0.4;
}
/*header-nav*/

.site-link {
  box-sizing: border-box;

  padding-left: 34px;
  padding-right: 32px;
}
.site-navigation {
  box-sizing: border-box;
  background: #32425c;
  box-shadow: inset 0px -5px 0 0  rgba(0, 0, 0, 0.1);

  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding-left: 0;
  margin: 0;
  margin-top: 12px;
}
.site-navigation-link {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 60px;
}
/*услуги*/
.services-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 59px;
}
.services-category-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;

  margin-left: 22px;
  margin: 0;
}
.category-product {
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;

  position: relative;
}
.category-product .flag {
  position: absolute;
  top: 0px;
  right: 0px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.category-product .flag-new {
  background: url('../img/new-flag-1.png') no-repeat 0 0;
}
.icon-product {
  position: absolute;
  top: 33px;
  right: 43px;
}
.materials {
 background: #ffbf47;
}
.tool {
  background: #3bbce3;
}
.technics {
  background: #dc91d8;
}
.discounts {
  background: #8ed78f;
}
.delivery {
  background: #ffc047;
}
.button-category {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
}
.button-category:hover,
.button-category:focus {
  background: rgba(0, 0, 0, 0.2);
}
.button-category:active {
  background: rgba(0, 0, 0, 0.3);
}
/* слайды*/
/*слайды index пагинация*/
.container-slide {
  position: relative;
}
.slider-controls {
  bottom: 100px;
  height: 10px;
  left: 50%;
  position: absolute;
  width: 35px;

  font-size: 0;
  text-align: center;
  transform: translateX(-50%);

  display: flex;

  z-index: 100;
}
.slider-controls .slider-controls-item {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  height: 10px;
  padding: 8px;
  position: relative;
  width: 10px;
}
.slider-controls .slider-controls-item::after {
  background: #8e1e26;

  border-radius: 50%;
  content: "";

  height: 18px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 18px;
  z-index: 1;
}
.slider-product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}
.slider-product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
.slider-product-1:checked ~ .slider-controls .slider-controls-item--1::before,
.slider-product-2:checked ~ .slider-controls .slider-controls-item--2::before {
  background-color: inherit;
  border: 2px solid #ee3643;
  border-radius: 50%;

  content: "";

  height: 4px;
  left: 50%;
  margin: -4px;
  position: absolute;
  top: 50%;
  width: 4px;
  z-index: 2;
}
/**/
.slider-list {
  display: flex;
  flex-direction: column;

  padding: 0;
}
.slider-item {
  list-style: none;
  color: #ffffff;

  overflow: hidden;
  display: none;
  padding: 0;
  margin: 0;
  position: relative;

  width: 620px;
  height: 266px;
}
.heading {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.slider-item-img {
  position: absolute;
}
.button-slide {
  background: #ee3643;
  margin-top: auto;
}
.button-slide:hover,
.button-slide:focus {
  background: #ca2c37;
}
.button-slide:active {
  background: #ba2732;
}

/*товары*/
.title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.popular-goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;

  padding: 0;
}
.popular-goods-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #f9f5f0;

  min-height: 89px;
  padding-left: 25px;
}
.button-goods {
  background: #ee3643;
  margin-right: 25px;
}
.button-goods:hover,
.button-goods:focus {
  background: #ca2c37;
}
.button-goods:active {
background: #ba2732;
}
.button-goods-map {
  padding: 10px 45px 10px 45px;
}
.popular {
  display: flex;
  justify-content: space-between;
  list-style: none;

  padding-left: 0;
}
.card-product {
  height: 318px;
  width: 220px;

  margin-bottom: 20px;
  border: 1px solid #ccc;

  position: relative;
}
.old-price {
  text-decoration: line-through;
   min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.poduct-name {
  padding: 0 25px;
  margin-top: 19px;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;

  margin-bottom: 0px;
}
.product-picture {
  height: 158px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-product .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.card-product .flag-new {
  background: url('../img/new-flag-1.png') no-repeat 0 0;
}
.card-product-info {
  text-align: center;
}
.price-product {
  font-size: 17px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: #a9a9a9;
}
 .price-current {
  position: relative;
  cursor: default;

  min-width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 8px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}
 .price-current:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}
.card-product .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: #ffffff;
  z-index: 10;
}
.popular-goods-item {
  display: flex;
}
.popular-goods-link {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;

  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}
.popular-goods-link:hover,
.popular-goods-link:focus {
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.popular-goods-link:active {
  box-shadow: 0 3px 7px rgba(0,0,0,0.5);
  opacity: 0.6;
}

/*сервис*/
.services {
  background: #f4f8f9;

  display: block;

  padding-top: 64px;
  padding-bottom: 64px;
}
.slide-services {
  display: flex;
  justify-content: space-between;
}
.slide-key-list {

}
.slide-key {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  list-style: none;

  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 24px;
  width: 240px;

  background: #32425c;
  box-shadow:
    inset 0px -1px 0 0  rgba(0, 0, 0, 0.1);
}

.slide {
  list-style: none;
}
.slide-info {
  width: 282px;
  margin: 0;
  position: absolute;
}
.slide-2, .slide-3 {
  display: none;
}
/*о нас */
.about-us {
  display: flex;
  justify-content: space-between;

  margin-bottom: 86px;
}
.company-details {
  width: 520px;
}
.company-details-text {
  font-family: 'PT Sans', sans-serif;
}
.item-info {
  list-style: none;

  font-size: 18px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;

  padding-top: 20px;
}
.item-info::before {
  color: #fb565a;
  content: '\2014';

  padding-right: 22px;
}
.contacts-map {
  width: 300px;
}
.map {
  background-image: url(../img/map.jpg) ;

  width: 300px;
  height: 168px;

  border: none;
}
/*страница каталога*/

.bread-crumbs {
  list-style: none;
  display: flex;

  margin-top: 20px;
  margin-bottom: 20px;
}
.name-bread-crumbs {
  color: #000000;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;

  padding-right: 18px;
}
.bread-crumbs-item::after {
  content: '\003E';
  opacity: 0.3;

  padding-right: 18px;
}
.section-name {
  background: #f2f6f8;

  padding-left: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
}
/*catalog*/

.catalog {
  display: flex;
  justify-content: space-between;
}
.filter {
  margin-top: 13px;

  width: 220px;
}
.filter-top {
  background: #f7f3ec;

  margin-bottom: 22px;
}
.filtr-title {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  margin: 0;
}
.filter-name {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}
.filter-label {
  font-size: 15px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}
/*цена*/
.filter-item-rang {
  border: none;
  padding-left: 0;
}
.range-filter {
  width: 220px;
}
.range-control {
  background-color: #f7f3ec;
  border-radius: 2px;

  position: relative;

  height: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}
.toggle {
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
        box-shadow: 0 2px 1px 0 #cfcfcf;

  box-sizing: content-box;
  position: absolute;
  cursor: pointer;
  height: 4px;
  left: 0;
  padding: 0;
  top: 31px;
  width: 4px;
}
.toggle-min {
  left: 20px;
}
.toggle-max {
  left: 160px;
}
.scale {
  background: #d7dcde;

  height: 2px;
}
.bar {
  background: #00ca74;

  height: 2px;
  margin-left: 0px;
  width: 80%;
}
.price-controls {
  font-size: 0;
}
.price  {
  font-size: 17px;
  text-transform: uppercase;
}
.price-min::after {
  content: '\2014';

  padding-left: 5px;
  padding-right: 5px;
}
.from-to {
  background: #f7f3ec;
  border: none;
  border-radius: 5px;

  color: #283136;
  text-align: center;

  padding: 8px 10px;
  width: 75px;
}

/*сортировка*/
.filter-item {
  border: none;

  padding-left: 0;
  margin-top: 28px;
}
.radio-button-group {
  list-style: none;

  margin: 0;
  padding: 0;
}
.filter-option {
  padding-bottom: 15px;
}
.filter-option .filter-label {
  cursor: pointer;
  display: block;
  position: relative;
  user-select: none;
}
.filter-label {
  padding-bottom: 5px;
  padding-left: 40px;
}
.filter-input-radio + .filter-label-radio::before {
  border: 4px solid #c5c5c5;
  border-radius: 50%;

  color: #c5c5c5;
  content: "";

  position: absolute;
  height: 18px;
  left: 0px;
  top: 0px;
  width: 18px;
}
.filter-input-radio:checked + .filter-label-radio::after {
  background-color: #c5c5c5;
  border-radius: 50%;

  content: "";

  position: absolute;
  height: 10px;
  left: 8px;
  top: 8px;
  width: 10px;
}
.filter-label-radio {
  color: #000000;

  padding-bottom: 0;
  padding-top: 5px;
}
.filter-input-radio:hover + .filter-label-radio::before,
.filter-input-radio:focus + .filter-label-radio::before{
  border-color: #b5b5b5;

  -webkit-transition: border-color 0.25s;
  -o-transition: border-color 0.25s;
      transition: border-color 0.25s;
}
.filter-input-radio:checked:hover + .filter-label-radio::after,
.filter-input-radio:checked:focus + .filter-label-radio::after {
  background-color: #b5b5b5;

  -webkit-transition: background 0.25s;
  -o-transition: background 0.25s;
      transition: background 0.25s;
  -o-transition: color 0.25s;
      transition: color 0.25s;
}
.filter-label-radio:hover,
.filter-label-radio:focus {
  color: #000000;

  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
    transition: color 0.25s;
}
.filter-input-radio:disabled + .filter-label-radio::before {
  border-color: #ededed;
}
.filter-input-radio:checked:disabled + .filter-label-radio::after {
  background-color: #ededed;
}
.filter-label-radio:disabled {
  color: #b8b8b8;

  -webkit-transition: border-color 0.25s;
  -o-transition: border-color 0.25s;
      transition: border-color 0.25s;
}
.filter-input-radio:checked:hover + .filter-label-radio::after,
.filter-input-radio:checked:focus + .filter-label-radio::after {
  background-color: #b5b5b5;

  -webkit-transition: background 0.25s;
  -o-transition: background 0.25s;
      transition: background 0.25s;
  -o-transition: color 0.25s;
      transition: color 0.25s;
}
.filter-label-radio:hover,
.filter-label-radio:focus {
  color: #283136;

  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
    transition: color 0.25s;
}
.filter-input-radio:disabled + .filter-label-radio::before {
  border-color: #ededed;
}
.filter-input-radio:checked:disabled + .filter-label-radio::after {
  background-color: #ededed;
}
.filter-label-radio:disabled {
  color: #ededed;
}
.filter-input-checkbox + .filter-label-checkbox::before {
  background: url(../img/checkbox-off-filt.svg) no-repeat;
  opacity: 0.4;

  content: "";

  position: absolute;
  height: 23px;
  left: 0px;
  width: 23px;
}
.filter-input-checkbox:checked + .filter-label-checkbox::after {
  background: url(../img/checkbox-on.svg) no-repeat;
  opacity: 0.4;

  content: "";

  position: absolute;
  height: 23px;
  left: 0px;
  width: 27px;
}
.filter-input-checkbox:checked + .filter-label-checkbox::before {
  display: none;
}
.filter-label-checkbox {
  color: #000000;
}
.filter-input-checkbox:hover + .filter-label-checkbox::before,
.filter-input-checkbox:focus + .filter-label-checkbox::before {
  opacity: 0.7;

  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
      transition: opacity 0.25s;;
}
.filter-input-checkbox:hover + .filter-label-checkbox::after,
.filter-input-checkbox:focus + .filter-label-checkbox::after {
  opacity: 0.7;

  -webkit-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
      transition: opacity 0.25s;;
}
.filter-label-checkbox:hover,
.filter-label-checkbox:focus {
  color: #000000;

  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
      transition: color 0.25s;
}
.filter-input-checkbox:disabled + .filter-label-checkbox::before {
  opacity: 0.2;
}
.filter-label-checkbox:disabled {
  color: #b8b8b8;
}
.button-filter {
  color: #000000;
  border: 2px solid #e5e5e5;
  border-radius: 3px;

  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 39px;
  padding-right: 39px;
  margin-top: 58px;
}

/**/
.sort {
  display: flex;
  justify-content: space-between;
}
.criteria {
  display: flex;
  padding-top: 8px;
}
.criteria-sort {
  width: 400px;
  margin-left: 122px;
}
.sort-item {
  padding-right: 50px;
}
.sorting-filtr {
  color: #d3cfc9;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px dashed #ee3643;

  margin-left: 10px;
}
.sorting-filtr-active {
  color: #ee3643;
  border: none;
}
.sorting-filtr:hover,
.sorting-filtr:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}
.sorting-filtr:active {
  color: #ee3643;
  border: none;
}
.sort-icon-up {
  margin-right: 19px;
}
.icon-up {
  opacity: 0.5;
}
.icon-up:hover,
.icon-up:focus {
  opacity: 1;
}
.icon-up:active {
  fill: #ee3643;
}
/**/
.sorting-goods {
  margin-left: 20px;
  margin-top: 13px;
}
/**/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-pages {
  margin-top: 31px;
  margin-bottom: 60px;
}
.pagination-button {
  box-sizing: border-box;
  color: #000000;
  border: 2px solid #e5e5e5;
  border-radius: 3px;

  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
.pagination-next {
  padding-left: 32px;
  padding-right: 32px;
}
.pagination-button:hover,
.pagination-button:focus {
  border-color: #bdc6ca;
}
.pagination-button:active {
  border-color: #ee3643;
}
.pagination-active {
  position: relative;
  color: white;
  background: #ee3643;
  border-color: #ee3643;
  margin-right: 8px;
}
/*кнопки*/
.button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border-radius: 3px;
  border: none;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 39px;
  padding-right: 39px;

  cursor: pointer;
}
.card-product .actions .buy,
.card-product .actions .bookmark {

  z-index: -1;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border-radius:3px;
  background-color: #63a63e;
  cursor: pointer;
}
.card-product .logo-cards {
  opacity: 0.6;

  padding-right: 20px;
}
.card-product .buy {
  box-shadow: 0px 2px 0 0 #367315;
  border: none;
}
.card-product .buy:hover,
.card-product .buy:focus {
  background: #5fbb2d;
}
.card-product .buy:hover .logo-cards,
.card-product .buy:focus .logo-cards {
  opacity: 1;
}
.card-product .buy:active {
 background: #518534;
}
.card-product .bookmark {
  border: 3px solid #63a63e;
}
.card-product .bookmark:hover,
.card-product .bookmark:focus {
  border: 3px solid #32425c;
}
.card-product .bookmark:active {
  opacity: 0.6;
}
.card-product .actions .bookmark {
  color: #32425c;
  background: white;
}
.card-product .actions {
  display: none;
}
.card-product:hover .actions,
.card-product:focus-within .actions {
  display: block;
}
.card-product:hover,
.card-product:focus-within {
box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

/*footer*/

/**/
.footer-top {
  background: #32425c;

  padding-bottom: 28px;
}
.footer-top-basement {
  display: flex;
  justify-content: space-between;
}
.footer-info {
  list-style: none;
  padding: 0;

  margin-right: 26px;
}
.link-logo-footer {
  width: 220px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
}
.adres-footer {
  margin-top: 48px;
  margin-bottom: 0px;
}
.tel-footer {
  margin-top: 0;
}
.footer-link {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}
.footer-nav-top .footer-link:hover,
.footer-nav-top .footer-link:focus {
  text-decoration: underline;
}
.footer-nav-top .footer-link:active {
  text-decoration: none;
  opacity: 0.4;
}
.copyright {
  width: 590px;
}
.footer-nav-top {
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  padding-top: 24px;
}
.footer-nav-item {
  margin-right: 45px;
}
.footer-nav-bottom {
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  padding-top: 24px;
  padding-left: 63px;
}

.footer-bottom {
  background: #293449;

  padding-top: 10px;
}
.footer-bottom-basement {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.feedback-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;

  margin: 0;
}

.social {
  list-style: none;

  display: flex;
  justify-content: space-between;
}
.social-item {
  margin-right: 5px;
}
.social-link {
  border-radius: 50%;

  background: #212a3a;

  height: 40px;
  width: 40px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
}
.social-link:hover,
.social-link:focus {
  background: #ee3643;
}
.social-link:active {
  opacity: 0.9;
}

.feedback-link{
  color: #ffd180;
}
.feedback-link:hover,
.feedback-link:focus {
  text-decoration: underline;;
}
.feedback-link:active {
  text-decoration: none;
  color: #ffd180;
}

/*окно корзины*/
.popup-card {
  height: 282px;
  width: 620px;
  top: 100px;
  left: 50%;
  margin-left: -325px;

  box-sizing: border-box;
  position: fixed;
  display: none;
  z-index: 200;

  background: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.modal-show-popup {
  display: block;

  animation: bounce 0.6s;
}
.title-popup {
  font-size: 30px;
  line-height: 30px;

  padding-left: 30px;
}

.popup-info {
  box-sizing: border-box;
  display: flex;

  padding-left: 80px;
  height: 162px;
  padding-top: 46px;
}
.popup-actions {

  box-sizing: border-box;

  height: 113px;
  background: #f1f1f1;
  padding-top: 35px;
  padding-left: 80px;

}
.popup-close {
  background: transparent;
  border: none;

  position: absolute;
  padding: 0;
  right: 10px;
  top: 10px;
}
.popup-close:hover,
.popup-close:focus {
  opacity: 0.8;
}
.popup-close:active {
  opacity: 0.5;
}
.popup-button-issue {
  background: #ee3643;
  margin-right: 20px;
}
.popup-button-issue:hover,
.popup-button-issue:focus {
  background: #ca2c37;
}
.popup-button-issue:active {
  background: #ba2732;
}
.popup-button-continue {
  color: #000000;
}

/*popup-index*/
.popup {
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  background: #ffffff;
  border-top: 7px solid #ee3643;

  left: 30%;
  top: 20px;
  width: 620px;
  height: 430px;
  margin-left: -68px;

  display: none;
  position: fixed;
}
.popup-show {
  animation: bounce 0.6s;

  display: block;
}

.popup-error {
  animation: shake 0.6s;
}
.wrapper {
display: flex;
flex-wrap: wrap;

box-sizing: border-box;

padding-left: 60px;
padding-top: 47px;
padding-right: 60px;
}
.form-field {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 23px;
}
.col-large {
  width: 100%;
}
.form-ladel {
  font-size: 18px;
  line-height: 18px;
}
.form-input {
  border: 2px solid #d7dcde;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #444;
  padding: 14px 8px;
  width: 100%;
}
.button-popup-section {
  background: #f1f1f1;

  width: 100%;
  height: 114px;
}
.form-input:hover {
  border-color: #b4b9bb;

  -webkit-transition: border 0.25s;
  -o-transition: border 0.25s;
      transition: border 0.25s;
}
.form-input:focus {
  border-color: #000000;

  -webkit-transition: border 0.25s;
  -o-transition: border 0.25s;
      transition: border 0.25s;
}
.form-input:focus::placeholder {
  color: #444444;

  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
      transition: color 0.25s;
}
.form-input:invalid:not(:placeholder-shown) {
  border-color: #e74246;
  color: #e74246;

  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
      transition: all 0.25s;
}

.popup-button {
  box-sizing: border-box;
  background: #ee3643;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  padding: 13px 199px 13px 199px;
  margin-left: 55px;
  margin-top: 36px;
}
.popup-button:hover,
.popup-button:focus {
  background: #ca2c37;
}
.popup-button:active {
  background: #ba2732;
}
.button-close-popup {
  background: transparent;
  border: none;

  position: absolute;
  padding: 0;
  right: 10px;
  top: 10px;
}
.button-close-popup:hover,
.button-close-popup:focus {
  opacity: 0.8;
}
.button-close-popup:active {
  opacity: 0.5;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
.popup-error {
  animation: shake 0.6s;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
